:root {
    --color0: #0a0d0b;
    --color1: #0d100e;
    --color2: #5e513b;
    --color3: #e2d5b5;
    --color4: #9a7537;
    --color5: #d43232;
    --color6: rgb(94, 167, 52);
}

body { background-color:var(--color0); color:var(--color3); font-family:'Noto Sans'; overflow:hidden; padding:0; margin:0; }

#background {
    position:absolute;
    margin:auto;
}

#output { color:white; position:fixed; z-index:1000; background-color:#3335; overflow:auto; }

.center {
    position: absolute;
    top: 340px;
    left: 50vw;
    transform: translateX(-50%);
    background-color: var(--color1);
    padding: 15px;
    box-shadow: 3px 3px 2px 1px #000000b5;
}

.center .clock {
    text-align: center;
}

.center .clock .time {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: -4px;
}
.center .clock .date {
    font-size: .8em;
}

label {
    font-size: .8em;
    display: block;
    margin: 13px 0 2px 2px;
}

select {
    -webkit-appearance: textarea;
    border: 1px solid var(--color2);
    border-radius: 0;
    width: 250px;
}

input, button, select, .select {
    background-color: var(--color0);
    color: var(--color3);
    border: 1px solid var(--color2);
    padding: 8px;
    margin: 2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}
.center:not(.disabled) input[type=submit] { cursor:pointer; }
.center:not(.disabled) input[type=submit]:hover { background-color:var(--color3); color:var(--color0); }
.center button { cursor:pointer; }
.center button:hover { background-color:var(--color3); color:var(--color0); }

/* button:not(.disabled) { cursor:pointer; }
button:not(.disabled):hover { background-color:var(--color3); color:var(--color0); } */

.select { max-height:250px; overflow-y:auto; }
.select ul { margin:0; padding:0; list-style:none; }
.select ul li { cursor:pointer; padding:0 2px; border-bottom:1px solid var(--color2); }
.select ul li:last-child { border-bottom:none; }
.select ul li.selected { background-color:var(--color2); }
.select ul li:hover { background-color:var(--color3); color:var(--color0); }
.select ul li .hostname { font-size:.8em; display:none; float:right; margin-top:1px; color:var(--color1); }
.select ul li .hostname::before { content:'@'; }
.select ul li.selected .hostname { display:inline; }

.center .line {
    width: 250px;
    display: flex;
}

.center .loggedIn {
    text-align: center;
    font-size: .8em;
    color: var(--color4);
    display: block;
    margin-bottom: 3px;
}

.center .tryLogin {
    text-align: center;
    font-size: 1em;
    color: var(--color4);
    display: none;
    margin: 10px 0 10px 0;
}

.center .footer {
    /* border-top:1px solid var(--color2); */
    display:block;
    margin-top: 10px;
    color:var(--color2);
}

.center .footer .right {
    float:right;
}

.center .footer span {
    font-size:.6em;
    display:block;
    padding:3px;
    cursor:pointer;
}

.center .footer span:hover {
    color:var(--color3);
}

#openSettings { position:absolute; bottom:10px; right:14px; font-size:.8em; color:var(--color2); cursor: pointer; }
#openSettings:hover { color:var(--color3); }
#closeSettings { position:absolute; top:6px; left:14px; font-size:.8em; color:var(--color2); cursor: pointer; }
#closeSettings:hover { color:var(--color3); }

#backgroundsFound {
    margin: -20px 0 5px 0;
    display: block;
    font-size: .8em;
    color: var(--color2);
}

.settings {
    position:absolute; top:0; left:0; bottom:0; right:0;
    display:none;
}
.settings .panel {
    width:400px; position:absolute; right:0; top:0; bottom:0;
    box-sizing:border-box; background-color:#0d100eb4; border-left:1px solid var(--color2);
    text-align:center; overflow-y:auto; }
.settings.shown { display:block; }

.settings img.preview { max-width:190px; max-height:190px; cursor:pointer; box-sizing:border-box; border:3px solid #0000; }
.settings img.preview.current {
    border-color:var(--color6);
}
.settings img.preview:hover { border-color:var(--color4); }

.overlay {
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    background-color: #0d100eb4;
    display:none;
}